#content {
    margin: 0 auto;
    text-align: center;
    animation: fade-in-top 1s ease 0s 1 normal none;
    
    p,
    a,
    li {
        font-size: 16px;
    }
    section{
        background: #f2f4f5;
    }

}