/* footer */
footer {
        background: #2f2e2e; 
        color: $white-color;
        padding-left: nth($padding, 4)+5;
        padding-right: nth($padding, 4)+5;
        padding-top: nth($padding, 2); 
        padding-bottom: nth($padding, 4)*2; 
        box-shadow: none;

        a {
            color: $white-color;
        }

        & h2 {
            text-align: start;
            font-family: "Shrikhand", sans-serif;
        }

        & li {
            display: flex; 
            align-items: center;
            justify-content: flex-start;
        }
        & i{
            margin-right: 15px;
        }


    @include tablet {
        background: #edafab;
        color: $black-color; 
        @include shadow; 
        & h2{
            text-align: center; 
        }
        & li {

           justify-content: center;

        } 


        & a {
             color: $black-color;
        }
    }
}
@include ordi{
    footer{
         @include color-secondary($orangeRed);
    }
        
}

