/* footer */
footer {
    padding: nth($padding, 4);
    margin-top: nth($margin, 4)+5;
    @include shadow;
    @include color-secondary($orangeRed);
    /* background: #f44336 */ 

    & li {
        display: flex;
        align-items: center;
        justify-content: center;

        i {
            margin-right: 10px;
        }
    }

    & a {
        color: $black-color;
    }

    @include tablet {
        background: #edafab;
    }

    @include mobile {
        background: #2f2e2e; /* $black, #696969 */
        color: $white-color;
        padding: nth($padding, 4)+5;
        box-shadow: none;
        margin-top: nth($margin, 4)-40; /* -40 */

        a {
            color: $white-color;
        }

        & h2 {
            text-align: start;
            margin-bottom: nth($margin, 3);
        }

        & li {
            justify-content: flex-start;
        }
    }
}