header {
    width: 100%;
    @include shadow;
    @include color-secondary($second-color);
    /* background: #f44336 */
    /* background: linear-gradient(to left top, rgb(209, 73, 245), rgb(235, 176, 211))  */
    @include tablet{
        background: #edafab;
    }
    @include mobile {
        background: $white-color;
        box-shadow: 0px 1px 5px #cbcaca;

        img {
            width: 50%;
        }
    }
}