@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

h1, 
.break-mobile{
    font-size: 24px;
    font-family: "Roboto", sans-serif; 
    font-weight: 700; 
}

h2 {
    font-size: 19px; /* 21 */
    font-family: "Roboto", sans-serif; 
    font-weight: 700; 
}

h3, .break-this {
    font-size: 18px; /* 18 */
    line-height: normal;
    font-family: "Roboto", sans-serif; 
    font-weight: 700; 
    @include tablet{
        font-size: 17.5px; 
    }
}

p,
a,
li {
    font-size: 17.5px;
    font-family: "Roboto", sans-serif; 
}

button {
    font-weight: 400;
    font-size: 14px;
}