@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@font-face {
    font-family: 'Shrikhand Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Shrikhand Regular'), url('Shrikhand-Regular.woff') format('woff');
}
h1,
h2,
h3,
.break-mobile,
.break-this {
    @include title-font;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 21px;
}

h3 {
    font-size: 18.1px; /* 18 */
    line-height: normal;
}

p,
a,
li {
    font-size: 17.5px;
}

button {
    font-weight: bolder;
    font-size: 13.3px;
}