/* variables */ /* MIXIN */ /* extensions */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
.first-message,
.way,
.section-article,
header img,
.way__box {
  padding-top: 20px;
  padding-bottom: 20px;
}

.section-article .fourth__image, .section-article .third__image, .section-article .second__image, .section-article .first__image {
  border-radius: 20px;
  box-shadow: 0px 5px 10px #999;
  width: 90%;
  display: inline-block;
  overflow: hidden;
}
.section-article .fourth__image img, .section-article .third__image img, .section-article .second__image img, .section-article .first__image img {
  object-fit: cover;
  width: 100%;
}

.section-article .new {
  padding: 15px 30px;
  background-color: #c0e9c3;
  color: #1f7736;
  font-weight: bold;
  position: absolute;
  margin: 30px;
}

.section-article .fourth__image--box, .section-article .third__image--box, .section-article .second__image--box, .section-article .first__image--box {
  display: flex;
  justify-content: space-between;
  padding: 5px 15px 10px 10px;
  margin-top: -7px;
}

section .first-image img {
  height: 350px;
  width: 100%;
  object-fit: cover;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  background: transparent;
  font-family: "Roboto", sans-serif;
}

header,
article,
section,
footer {
  display: block;
}

body {
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

@font-face {
  font-family: "Shrikhand Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Shrikhand Regular"), url("Shrikhand-Regular.woff") format("woff");
}
h1,
h2,
h3,
.break-mobile,
.break-this {
  font-family: "Shrikhand Regular";
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 21px;
}

h3 {
  font-size: 19px;
}

p,
a,
li {
  font-size: 18px;
}

button {
  font-weight: bolder;
  font-size: 13.3px;
}

.btn {
  padding: 15px;
  color: #fff;
  /* background-adjust-hue($first-color 5 */
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 5px 10px #999;
  cursor: pointer;
  background: linear-gradient(to top left, rgb(209, 73, 245), rgb(235, 176, 211));
}
.btn:hover {
  background: #e4d5f6;
  color: #080808;
}

/* keyframes */
@keyframes fade-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/* spinner */
.loader {
  position: fixed;
  /* z-index99999px */
  background: white;
  width: 100%;
  height: 100%;
  transition: opacity 0.75s, visibility 0.75s;
}

.loader-one {
  border: 0 solid transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50vh - 75px);
  left: calc(50vw - 75px);
}

.loader-one::before,
.loader-one::after {
  content: "";
  border: 1rem solid #ff5733;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  animation: loader 2s linear infinite;
  opacity: 0;
}

.loader-one::before {
  animation-delay: 0.5s;
}

.loader--hidden {
  opacity: 1;
  animation: hidden 2s ease-in-out both;
}

@keyframes loader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  50% {
    opacity: 1;
    /* 0 */
    /* .5 */
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
@keyframes hidden {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    /* .9 */
  }
  90%, 100% {
    opacity: 0;
  }
}
.hidding-hidden {
  animation: hidding 1s 1000ms ease-in-out both;
}

@keyframes hidding {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* box animations 4 pages */
.one-anime {
  position: relative;
  opacity: 1;
  animation: movement 1500ms ease-in-out;
}

.second-anime {
  position: relative;
  opacity: 1;
  animation: movement 1700ms ease-in-out;
}

.third-anime {
  position: relative;
  opacity: 1;
  animation: movement 2000ms ease-in-out;
}

.fourth-anime {
  position: relative;
  opacity: 1;
  animation: movement 2400ms ease-in-out;
}

@keyframes movement {
  0% {
    top: 30px;
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}
#container {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  animation: fade-in-top 1s 1000ms ease-in-out both;
  /* animation: fade-in-top 1s ease 0s 1 normal none; */
}

header {
  content: "";
  position: -webkit-sticky;
  position: sticky;
  /* fixed */
  /* sticky */
  top: 0;
  left: 0;
  width: 100%;
  /* height100px */
  z-index: 100;
  box-shadow: 0px 5px 10px #999;
  background: #f44336;
  /* background linear-gradient(to left top, rgb(209, 73, 245), rgb(235, 176, 211)) */
  transition: all 0.8s ease-out;
  /* header before ici */
}
@media screen and (max-width: 768px) {
  header {
    background: #fff;
    box-shadow: 0px 1px 5px #cbcaca;
  }
  header img {
    width: 50%;
  }
}

/* footer */
footer {
  padding: 20px;
  margin-top: 25px;
  box-shadow: 0px 5px 10px #999;
  background: #f44336;
}
footer li {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer li i {
  margin-right: 10px;
}
footer a {
  color: #080808;
}
@media screen and (max-width: 992px) {
  footer h2 {
    text-decoration: none;
  }
}
@media screen and (max-width: 768px) {
  footer {
    background: #080808;
    color: #fff;
    padding: 25px;
    box-shadow: none;
  }
  footer a {
    color: #fff;
  }
  footer h2 {
    text-align: start;
    margin-bottom: 15px;
  }
  footer li {
    justify-content: flex-start;
  }
}

#content {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  animation: fade-in-top 1s ease 0s 1 normal none;
  background: linear-gradient(293deg, rgba(10, 10, 10, 0) 50%, rgba(10, 10, 10, 0.4) 90%);
}
@media screen and (max-width: 992px) {
  #content {
    background: linear-gradient(60deg, rgba(10, 10, 10, 0) 50%, rgba(10, 10, 10, 0.4) 90%);
  }
}
@media screen and (max-width: 768px) {
  #content {
    background: #F2F4F5;
  }
  #content p,
#content a,
#content li {
    font-size: 16px;
  }
}

.card__heart {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  cursor: pointer;
}

.icon-heart__hidden:hover {
  opacity: 0;
}

.icon-heart {
  position: absolute;
  color: transparent;
  background: linear-gradient(to top left, rgb(209, 73, 245), rgb(235, 176, 211));
  -webkit-background-clip: text;
  opacity: 0;
  /* 0 */
}

.icon-heart:hover {
  opacity: 1;
}

.map {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.map i {
  margin-right: 10px;
}
@media screen and (max-width: 768px) {
  .map {
    background: hsl(184deg, 6%, 95%);
  }
}

.first-message .marge__title {
  margin-top: 15px;
  margin-bottom: 15px;
}
@media screen and (max-width: 768px) {
  .first-message {
    background: linear-gradient(359deg, rgb(247, 247, 247) 1%, rgb(255, 255, 255) 110%);
  }
  .first-message .break-mobile {
    display: flex;
    justify-content: center;
  }
}

.way {
  cursor: pointer;
  background: linear-gradient(173deg, rgba(10, 10, 10, 0) 50%, #f44336 90%);
}
.way-one {
  display: flex;
  justify-content: space-evenly;
}
.way__box {
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.way__box:hover {
  color: #9356DC;
}
.way__box:hover h3 {
  color: #080808;
}
.way__box .icons {
  border-radius: 54%;
  width: 23px;
  color: #fff;
  background-color: #9356DC;
}
@media screen and (max-width: 768px) {
  .way__box .icons {
    position: relative;
    left: -10px;
  }
}
.way__box .icons__marge {
  /* img 2ieme */
  margin-left: 10px;
  margin-right: 10px;
}
@media screen and (max-width: 768px) {
  .way__box .icons__marge {
    margin-right: 20px;
  }
}
@media screen and (max-width: 992px) {
  .way {
    background: linear-gradient(179deg, rgba(217, 17, 17, 0) 50%, rgba(70, 54, 88, 0.4) 90%);
    border-radius: 0;
    box-shadow: none;
  }
}
@media screen and (max-width: 768px) {
  .way {
    background-image: none;
    display: inline-table;
    width: 90%;
  }
  .way h2 {
    text-align: left;
  }
  .way__box {
    box-shadow: 0px 5px 10px #999;
    justify-content: flex-start;
  }
  .way-one {
    flex-direction: column;
  }
  .way__box:hover {
    background: #e4d5f6;
  }
}

.section-article {
  background: linear-gradient(287deg, rgba(245, 241, 241, 0) 50%, rgb(255, 252, 252) 90%);
  /* ALL IMG HEIGHT */
}
.section-article i {
  cursor: pointer;
}
.section-article h2 {
  margin-bottom: 15px;
}
.section-article .first__image {
  height: 868px;
  margin-bottom: 10px;
}
.section-article .new {
  font-size: 16px;
}
@media screen and (max-width: 992px) {
  .section-article .new {
    padding: 5px 10px;
    margin: 5px;
    /*marg-lef60px*/
  }
}
.section-article .first__image--box--text {
  text-align: left;
}
.section-article .second__image {
  height: 868px;
  margin-bottom: 10px;
}
.section-article .second__image--box--text {
  text-align: left;
}
.section-article .third__image {
  height: 868px;
  margin-bottom: 10px;
}
.section-article .third__image--box--text {
  text-align: left;
}
.section-article .fourth__image {
  height: 868px;
  margin-bottom: 10px;
}
.section-article .fourth__image--box--text {
  text-align: left;
}
.section-article .fourth__image img,
.section-article .third__image img,
.section-article .second__image img,
.section-article .first__image img {
  height: 800px;
}
@media screen and (max-width: 992px) {
  .section-article {
    display: -ms-grid;
    display: grid;
    justify-content: center;
  }
  .section-article h2 {
    text-align: center;
  }
}
@media screen and (max-width: 992px) and (max-width: 768px) {
  .section-article h2 {
    padding-left: 20px;
  }
}
@media screen and (max-width: 992px) {
  .section-article .first__image {
    height: 390px;
  }
}
@media screen and (max-width: 992px) and (max-width: 768px) {
  .section-article .first__image {
    height: 250px;
    /* 230 */
  }
}
@media screen and (max-width: 992px) {
  .section-article .first__image img {
    height: 320px;
  }
}
@media screen and (max-width: 992px) and (max-width: 768px) {
  .section-article .first__image img {
    height: 180px;
  }
}
@media screen and (max-width: 992px) {
  .section-article .second__image {
    height: 390px;
  }
}
@media screen and (max-width: 992px) and (max-width: 768px) {
  .section-article .second__image {
    height: 250px;
    /* 230 */
  }
}
@media screen and (max-width: 992px) {
  .section-article .second__image img {
    height: 320px;
  }
}
@media screen and (max-width: 992px) and (max-width: 768px) {
  .section-article .second__image img {
    height: 180px;
    /* 160 */
  }
}
@media screen and (max-width: 992px) {
  .section-article .third__image {
    height: 390px;
  }
}
@media screen and (max-width: 992px) and (max-width: 768px) {
  .section-article .third__image {
    height: 250px;
  }
}
@media screen and (max-width: 992px) {
  .section-article .third__image img {
    height: 320px;
  }
}
@media screen and (max-width: 992px) and (max-width: 768px) {
  .section-article .third__image img {
    height: 180px;
  }
}
@media screen and (max-width: 992px) {
  .section-article .fourth__image {
    height: 390px;
  }
}
@media screen and (max-width: 992px) and (max-width: 768px) {
  .section-article .fourth__image {
    height: 250px;
  }
}
@media screen and (max-width: 992px) {
  .section-article .fourth__image img {
    height: 320px;
  }
}
@media screen and (max-width: 992px) and (max-width: 768px) {
  .section-article .fourth__image img {
    height: 180px;
  }
}
@media screen and (max-width: 768px) {
  .section-article {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    background: rgb(247, 247, 247);
  }
}

.logo-annexe__page {
  display: flex;
  align-items: center;
  background: #f44336;
}
.logo-annexe__page header {
  box-shadow: none;
}
.logo-annexe__page p {
  font-size: large;
  padding: 20px;
}
@media screen and (max-width: 768px) {
  .logo-annexe__page {
    background: #fff;
  }
}

@media screen and (max-width: 768px) {
  section .first-image img {
    height: 228px;
  }
}
section .first-one {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
section .first-one i {
  margin-left: 5px;
}
@media screen and (max-width: 768px) {
  section .first-one i {
    font-size: 25px;
    margin: 0;
  }
}
@media screen and (max-width: 768px) {
  section .first-one {
    justify-content: space-between;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    position: relative;
    top: -51px;
    margin-bottom: -47px;
    padding: 15px 20px;
    background: #F2F4F5;
  }
  section .first-one h1 {
    font-size: 30px;
  }
}
section .first-bloc {
  display: inline-block;
}
@media screen and (max-width: 768px) {
  section .first-bloc {
    display: block;
  }
}
section .first-bloc__box {
  display: table-caption;
}
@media screen and (max-width: 768px) {
  section .first-bloc__box {
    display: block;
  }
}
section .first-in .line,
section .second-in .line,
section .last-in .line {
  display: inline-block;
  width: 59px;
  border: double thin #b0f2b6;
  margin-bottom: 30px;
}
section .first-in .zone__text,
section .second-in .zone__text,
section .last-in .zone__text {
  display: flex;
  overflow: hidden;
  box-shadow: 0px 5px 10px #999;
  border-radius: 20px;
  margin-bottom: 10px;
  background: #b0f2b6;
}
section .first-in .zone__text:hover .zone__text--anime i,
section .second-in .zone__text:hover .zone__text--anime i,
section .last-in .zone__text:hover .zone__text--anime i {
  transform: rotate(1turn);
  transition-duration: 1.5s;
  transition-delay: 150ms;
}
section .first-in .zone__text:active .zone__text--anime i,
section .second-in .zone__text:active .zone__text--anime i,
section .last-in .zone__text:active .zone__text--anime i {
  transform: rotate(0deg);
  transition-duration: 1.5s;
  transition-delay: 100ms;
}
section .first-in .zone__text--move,
section .second-in .zone__text--move,
section .last-in .zone__text--move {
  width: 91%;
  transform-origin: left;
  transform: scaleX(1.1);
  /* 1.1019, 0.98 */
  transition: all 750ms ease-in-out;
  opacity: 1;
  background: #fff;
  cursor: pointer;
  text-align: left;
  padding: 10px;
}
@media screen and (max-width: 768px) {
  section .first-in .zone__text--move,
section .second-in .zone__text--move,
section .last-in .zone__text--move {
    width: 90%;
    transform: scale(1.12);
  }
  section .first-in .zone__text--move .break-this,
section .second-in .zone__text--move .break-this,
section .last-in .zone__text--move .break-this {
    display: flex;
  }
}
section .first-in .zone__text--move:hover,
section .second-in .zone__text--move:hover,
section .last-in .zone__text--move:hover {
  transform: scale(0.98, 1); /*.95, 1 */
}
@media screen and (max-width: 768px) {
  section .first-in .zone__text--move:hover,
section .second-in .zone__text--move:hover,
section .last-in .zone__text--move:hover {
    transform: scale(0.97, 1);
  }
}
section .first-in .zone__text--move:active,
section .second-in .zone__text--move:active,
section .last-in .zone__text--move:active {
  transform: scale(0.98, 1);
}
@media screen and (max-width: 768px) {
  section .first-in .zone__text--move:active,
section .second-in .zone__text--move:active,
section .last-in .zone__text--move:active {
    transform: scale(0.97, 1);
  }
}
section .first-in .zone__text .text-overflow,
section .second-in .zone__text .text-overflow,
section .last-in .zone__text .text-overflow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section .first-in .zone__text .text-overflow__move,
section .second-in .zone__text .text-overflow__move,
section .last-in .zone__text .text-overflow__move {
  text-overflow: ellipsis;
  width: 70%;
}
section .first-in .zone__text p,
section .second-in .zone__text p,
section .last-in .zone__text p {
  white-space: nowrap;
  overflow: hidden;
}
section .first-in .zone__text .space,
section .second-in .zone__text .space,
section .last-in .zone__text .space {
  padding-left: 10px;
  padding-right: 10px;
}
section .first-in .zone__text .zone__text--anime,
section .second-in .zone__text .zone__text--anime,
section .last-in .zone__text .zone__text--anime {
  max-width: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #b0f2b6;
  color: #fff;
}
@media screen and (max-width: 768px) {
  section .first-in .zone__text .zone__text--anime,
section .second-in .zone__text .zone__text--anime,
section .last-in .zone__text .zone__text--anime {
    width: 6%;
    /* max-w10 */
  }
}
@media screen and (max-width: 768px) {
  section .first-in,
section .second-in,
section .last-in {
    /* box-first-in.....*/
    text-align: start;
    padding: 15px;
  }
  section .first-in .marge__title,
section .second-in .marge__title,
section .last-in .marge__title {
    margin-top: 0;
  }
}
section .btn {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
}

/*# sourceMappingURL=styles.css.map */
