    .logo-annexe__page {
        display: flex;
        align-items: center;
         background: $white-color;

        & header {
            box-shadow: none;
            img{
                width: 50%; 
                @include tablet{
                    width: 20%; 
                }
            }
        }
        & span.arrow {
            font-size: large;
            @include tablet{
                font-size: larger; 
            }
            padding: nth($padding, 4)+6 nth($padding, 4);
        }
    }
