    .logo-annexe__page {
        display: flex;
        align-items: center;
        /* background: #f44336 */
        @include color-secondary($orangeRed);

        & header {
            box-shadow: none;
        }

        & p {
            font-size: large;
            padding: nth($padding, 4);
        }
        @include tablet{
            background: #edafab;
        }

        @include mobile {
            background: $white-color;
        }
    }