.section-article {
    display: block;
    background: rgb(247, 247, 247);
    &__boxes{
    width: 100%; 
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 60px;
    }
    & i {
        cursor: pointer;
    }

    & h2 {
        margin-bottom: nth($margin, 3);
        text-align: left; 
        padding-left: nth($padding, 4); 
    }
.new {
    @include main-box__new;
    font-size: 13px;
    top: 10%;
    right: 5%;
}

    .first__image{
        position: relative; 
        overflow: hidden; 
        @include main-box; 
        @include anime-boxes; 
        @include box-radius; 
        margin-bottom: 20px;  
        height: 245px;  
        img{
           height: 180px;
       }
        
    }
    .second__image{
        position: relative; 
        overflow: hidden;
        @include main-box; 
        @include box-radius; 
        @include anime-boxes;
        margin-bottom: 20px; 
        height: 245px;  
        img{
            height: 180px;
        }

    }
    .third__image{
        overflow: hidden;
         @include main-box; 
         @include box-radius; 
         @include anime-boxes;
         margin-bottom: 20px; 
        height: 245px; 
        img{
            height: 180px;
        }

    }
    .fourth__image{
        overflow: hidden;
         @include main-box; 
         @include box-radius; 
         @include anime-boxes;
         margin-bottom: 20px;
        height: 245px; 
        img{
            height: 180px;
        }

    }
    .first__image--box, .second__image--box,
    .third__image--box, .fourth__image--box{
        @include text-boxes; 
    } 
}

@include tablet{
    .section-article{
        & h2{
            text-align: center; 
        }
        &__boxes{
            padding: 20px; 
            flex-flow: wrap;
            justify-content: space-evenly;
        }
        .first__image {

            height: 330px;  
            width: 45%;
            margin-bottom: nth($margin, 4);

            & img {
                height: 265px;
            }
        }

        .second__image {
 
            height: 330px; 
            width: 45%;
            margin-bottom: nth($margin, 4);

            & img {
                height: 265px; 
            }
        }

        .third__image {

            height: 330px;  
            width: 45%;

            & img {
                height: 265px; 
            }
        }

        .fourth__image {
            height: 330px; 
            width: 45%;

            & img {
                height: 265px;  
            }
        }
    }

}
@include ordi{
    .section-article{
        &__boxes{
            flex-direction: row;
            margin-bottom: nth($margin, 4)*3;
        }
         .first__image--box {
        @include main-box__text;

        &--text {
            text-align: left;
        }
    }
    .first__image {
        height: 569px; 
        width: 24%;
        border-radius: 0;
    }

    .second__image {
        height: 569px;
        width: 24%; 
        border-radius: 0;
    }

    .third__image {
        height: 569px;
        width: 24%;  
        border-radius: 0;
    }

    .fourth__image {
        height: 569px;
        width: 24%;
        border-radius: 0;
    }

    /* ALL IMG HEIGHT */
    .fourth__image img,
    .third__image img,
    .second__image img,
    .first__image img {
        height: 500px; 
        }
    }

}
