section {

        .first-image {
            img {
                height: 290px;
                width: 100%;
                object-fit: cover; 
                @include tablet {
                   @include others-pages; 
                }
            }
        }
        .all-content{
            width: 100%;
            position: relative;
            top: -60px; /* -38 */
            border-top-left-radius: 40px;
            border-top-right-radius: 40px;
            background: #f2f4f5; 
            border: solid transparent;
            @include tablet{
                border-radius: 0; 
            } 
        }

        .first-one {
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-top-left-radius: 40px;
                border-top-right-radius: 40px;
                padding: nth($padding, 3) nth($padding, 4);
                margin-top: nth($margin, 1);
                margin-bottom: 0;

                h1 {
                    font-size: 30px; /* 32 */
                    font-family: "Shrikhand", sans-serif; 
                }


            & i {
                font-size: 25px;
                margin: 0;

                @include tablet {
                    margin-left: nth($padding, 4);
                }
            }

            @include tablet {
            justify-content: center;
            margin-top: nth($margin, 2);
            margin-bottom: nth($margin, 2);
            }
        }

        .first-bloc {
            display: block;

            @include tablet {
                display: inline-block;
            }
        }

        .first-bloc__box {
            display: block;

            @include tablet {
                display: table-caption;
            }
        }

        .first-in,
        .second-in,
        .last-in {

            & h2{
                text-align: start; 
                margin-bottom: 0; 
                @include tablet{
                    text-align: center; 
                }
            }

            .line {
                display: inline-block;
                width: 50px;
                border: double thin #b0f2b6; /* 2px solid #b0f2b6 */
                margin-bottom: nth($padding, 3);
                @include tablet {
                    text-align: center; 
                }
            }

            .zone__text {
                display: flex;
                overflow: hidden;
                border-radius: 15px; 
                @include shadow;
                margin-bottom: nth($margin, 2);

                &:hover {
                    .zone__text--anime {
                        overflow: hidden;
                        transform: scaleX(1);
                        transition: transform 500ms ease-out 100ms;/* 280 *//* gestion aller anime */
                    }
                    .zone__text--anime i {
                        transform: translate(0) rotate(1turn);
                        transition: transform 500ms ease-out 250ms;
                    }
                    .zone__text--move {
                        transform: scale(1, 1);
                        transition: transform 500ms ease-in-out 150ms;/* arriver anime */
                    }
                    .text-overflow__move {
                        text-overflow: ellipsis;
                        transform-origin: left 50%;
                        transform: scale(.8, 1);
                        transition: transform 500ms ease-out 200ms;
                    }
                    p {
                        width: 75%;
                        transform: scale(.7, 1);
                        transition: transform 500ms ease-out 200ms;
                    }
                }

                &:active {
                    .zone__text--anime {
                        overflow: hidden;
                        transform: scaleX(1);
                        transition: transform 500ms ease-out 100ms; /* 280 *//* gestion aller anime */
                    }
                    .zone__text--move {
                        transform: scale(1, 1);/* .98 */
                        transition: transform 500ms ease-in-out 150ms;
                    }
                    .zone__text--anime i {
                        transform: translate(0) rotate(0deg); 
                        transition: transform 1000ms ease-out 150ms;
                    }
                    .text-overflow__move {
                        text-overflow: ellipsis;
                        transform-origin: left 50%;
                        transform: scale(.8, 1);
                        transition: transform 500ms ease-out 200ms;
                    }
                     p {
                        width: 75%;
                        transform: scale(.7, 1);
                        transition: transform 500ms ease-out 200ms;
                    }
                }


                &--move {
                    width: 100%; 
                    visibility: visible;
                    overflow: hidden;
                    background: $white-color;
                    cursor: pointer;
                    text-align: left;
                    padding: nth($padding, 2);
                    transform-origin: left;
                    transform: scaleX(1.15);/* 1.16 *//* 1.185 */
                    transition: transform 200ms ease-in-out 150ms;/* gestion retour anime *//* transition: all 750ms ease-in-out; */

                    .break-this {
                        display: flex;
                    }
                }

                @include tablet{
                    .break-three{
                        display: flex;
                    }
                }

                .text-overflow {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }

                .text-overflow__move {
                    text-overflow: ellipsis;
                    transform-origin: left;
                    transform: scale(1);
                    transition: transform 300ms ease-out 50ms;
                }

                p {
                    white-space: nowrap;
                    overflow: hidden;
                    transform-origin: left 50%;
                    transform: scale(1);
                    transition: transform 500ms ease-out 500ms;
                }

                .space {
                    padding-left: nth($padding, 2);
                    padding-right: nth($padding, 2);
                }

                .zone__text--anime {
                    width: 15%; /* 18 */
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    background-color: #99E2D0; /* #b0f2b6 */
                    color: $white-color;
                    overflow: hidden;
                    transform-origin: right;
                    transform: scale(1) translate(100%);
                    transition: transform 200ms ease-in-out 190ms; /* gestion retour anime */

                }
            }
            text-align: start;
            @include tablet{
                    text-align: center; 
            }
            padding: nth($padding, 3);

            .marge__title {
                    margin-top: 0;
                    font-weight: 400;
            }
        }

        .btn {
            padding-left: 40px;
            padding-right: 40px;
            padding-top: 15px;
            padding-bottom: 15px;
        }
}
