.section-article {
    background: linear-gradient(287deg, rgb(245 241 241 / 0%) 50%, rgb(255 252 252) 90%);
    &__boxes{
        display: flex;
        flex-direction: row;   /* background: #f7f7f7 */
        justify-content: space-evenly;
        margin-bottom: nth($margin, 4)*3;
    }
    i {
        cursor: pointer;
    }

    h2 {
        margin-bottom: nth($margin, 3);
    }

    .first__image {
        position: relative;
        @extend %main-box;
        height: 569px; /* 868 */  /* 578 */
        width: 24%;
        @include anime-boxes; 

    }

    .new {
        @extend %main-box__new;
        font-size: 16px;
        top: 10%;
        right: 5%;  /* 10 */

        @include tablet {
            padding: nth($padding, 1) nth($padding, 2);
            margin: nth($margin, 1);
            /*marg-lef60px*/
        }
    }

    .first__image--box {
        @extend %main-box__text;

        &--text {
            text-align: left;
        }
    }

    .second__image {
        position: relative;
        @extend %main-box;
        height: 569px;
        width: 24%; 
        @include anime-boxes; 
    }

    .second__image--box {
        @extend %main-box__text;

        &--text {
            text-align: left;
        }
    }

    .third__image {
        @extend %main-box;
        height: 569px;
        width: 24%; 
        @include anime-boxes; 
    }

    .third__image--box {
        @extend %main-box__text;

        &--text {
            text-align: left;
        }
    }

    .fourth__image {
        @extend %main-box;
        height: 569px;
        width: 24%;
        @include anime-boxes; 
    }

    .fourth__image--box {
        @extend %main-box__text;

        &--text {
            text-align: left;
        }
    }

    /* ALL IMG HEIGHT */
    .fourth__image img,
    .third__image img,
    .second__image img,
    .first__image img {
        height: 500px; /* 800 */
    }

    @include tablet {
        &__boxes{
            flex-flow: wrap;
            align-items: center;
            justify-content: space-evenly;
        }
        & h2 {
            text-align: center;
            margin-bottom: nth($margin, 3)*2;
            padding: nth($padding, 4);

            @include mobile {
                text-align: left;
                padding: nth($padding, 2) nth($padding, 4);
                margin: 0;
            }
        }

        .first__image {
            overflow: hidden;
            @include box-radius; 
            height: 330px; /* 390 */ /* 330 */ 
            width: 45%;
            margin-bottom: nth($margin, 4);
            @include mobile {
                height: 245px; /* 250 */
                width: 90%;
                /* 230 */ 
            }

            & img {
                height: 265px; /* 320 */

                @include mobile {
                    height: 180px;
                }
            }
        }

        .second__image {
            overflow: hidden;
            @include box-radius; 
            height: 330px; /* 390 */
            width: 45%;
            margin-bottom: nth($margin, 4);
            @include mobile {
                height: 245px;
                width: 90%;
                /* 230 */
            }

            & img {
                height: 265px; /* 320 */

                @include mobile {
                    height: 180px;
                    /* 160 */
                }
            }
        }

        .third__image {
            overflow: hidden;
            @include box-radius; 
            height: 330px;  /* 390 */
            width: 45%;
            @include mobile {
                height: 245px;
                width: 90%;
                margin-bottom: nth($margin, 4);
            }

            & img {
                height: 265px; /* 320 */

                @include mobile {
                    height: 180px;
                }
            }
        }

        .fourth__image {
            overflow: hidden;
            @include box-radius; 
            height: 330px; /* 390 */
            width: 45%;

            @include mobile {
                height: 245px;
                width: 90%;
            }

            & img {
                height: 265px;  /* 320 */

                @include mobile {
                    height: 180px;
                }
            }
        }
    }
    @include mobile{
        display: block;
        background: rgb(247, 247, 247);
        &__boxes{
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
        }
    }
}