.section-article {
    background: linear-gradient(287deg, rgb(245 241 241 / 0%) 50%, rgb(255 252 252) 90%);

    i {
        cursor: pointer;
    }

    h2 {
        margin-bottom: nth($margin, 3);
    }

    .first__image {
        @extend %main-box;
        height: 578px; /* 868 */ 
        margin-bottom: nth($padding, 4);
    }

    .new {
        @extend %main-box__new;
        font-size: 16px;

        @include tablet {
            padding: nth($padding, 1) nth($padding, 2);
            margin: nth($margin, 1);
            /*marg-lef60px*/
        }
    }

    .first__image--box {
        @extend %main-box__text;

        &--text {
            text-align: left;
        }
    }

    .second__image {
        @extend %main-box;
        height: 578px;
        margin-bottom: nth($padding, 4); /* 2 */
    }

    .second__image--box {
        @extend %main-box__text;

        &--text {
            text-align: left;
        }
    }

    .third__image {
        @extend %main-box;
        height: 578px;
        margin-bottom: nth($padding, 4);
    }

    .third__image--box {
        @extend %main-box__text;

        &--text {
            text-align: left;
        }
    }

    .fourth__image {
        @extend %main-box;
        height: 578px;
        margin-bottom: nth($padding, 4);
    }

    .fourth__image--box {
        @extend %main-box__text;

        &--text {
            text-align: left;
        }
    }

    /* ALL IMG HEIGHT */
    .fourth__image img,
    .third__image img,
    .second__image img,
    .first__image img {
        height: 500px; /* 800 */
    }

    @include tablet {
        display: -ms-grid;
        display: grid;
        justify-content: center;
        
        & h2 {
            text-align: center;

            @include mobile {
                padding-left: nth($padding, 4);
            }
        }

        .first__image {
            height: 330px; /* 390 */ 
            width: 100%;
            @include mobile {
                height: 250px;
                width: 90%;
                /* 230 */ 
            }

            & img {
                height: 260px; /* 320 */

                @include mobile {
                    height: 180px;
                }
            }
        }

        .second__image {
            height: 330px; /* 390 */
            width: 100%;
            @include mobile {
                height: 250px;
                width: 90%;
                /* 230 */
            }

            & img {
                height: 260px; /* 320 */

                @include mobile {
                    height: 180px;
                    /* 160 */
                }
            }
        }

        .third__image {
            height: 330px;  /* 390 */
            width: 100%;
            @include mobile {
                height: 250px;
                width: 90%;
            }

            & img {
                height: 260px; /* 320 */

                @include mobile {
                    height: 180px;
                }
            }
        }

        .fourth__image {
            height: 330px; /* 390 */
            width: 100%;
            @include mobile {
                height: 250px;
                width: 90%;
            }

            & img {
                height: 260px;  /* 320 */

                @include mobile {
                    height: 180px;
                }
            }
        }
    }
    @include mobile{
        display: flex;
        flex-flow: column nowrap;
        align-items: stretch;
        background: rgb(247, 247, 247);
        padding-bottom: nth($padding, 4)*2;
    }
}