section {

        .first-image {
            img {
                height: 290px;
                width: 100%;
                object-fit: cover; 
                @include tablet {
                   @include others-pages; 
                }
            }
        }
        .all-content{
            width: 100%;
            position: relative;
            top: -60px; /* -38 */
            border-top-left-radius: 40px;
            border-top-right-radius: 40px;
            background: #f2f4f5; 
            border: solid transparent;
            @include tablet{
                border-radius: 0; 
            } 
        }

        .first-one {
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-top-left-radius: 40px;
                border-top-right-radius: 40px;
                padding: nth($padding, 3) nth($padding, 4);
                margin-top: nth($margin, 1);
                margin-bottom: 0;

                h1 {
                    font-size: 33px;
                    font-family: "Shrikhand", sans-serif; 
                }


            & i {
                font-size: 25px;
                margin: 0;

                @include tablet {
                    margin-left: nth($padding, 4);
                }
            }

            @include tablet {
            justify-content: center;
            margin-top: nth($margin, 2);
            margin-bottom: nth($margin, 2);
            }
        }

        .first-bloc {
            display: block;

            @include tablet {
                display: inline-block;
            }
        }

        .first-bloc__box {
            display: block;

            @include tablet {
                display: table-caption;
            }
        }

        .first-in,
        .second-in,
        .last-in {

            & h2{
                text-align: start; 
                @include tablet{
                    text-align: center; 
                }
            }

            .line {
                display: inline-block;
                width: 59px;
                border: double thin #b0f2b6;
                margin-bottom: nth($padding, 3);
                @include tablet {
                    text-align: center; 
                }
            }

            .zone__text {
                display: flex;
                overflow: hidden;
                @include shadow;
                @include box-radius;
                margin-bottom: nth($margin, 2);
                

                &:hover .zone__text--anime i {
                    transform: rotate(1turn);
                    transition-duration: 1.5s;
                    transition-delay: 150ms;
                }

                &:active .zone__text--anime i {
                    transform: rotate(0deg); /* 360 */
                    transition-duration: 1.5s;
                    transition-delay: 100ms;
                }



                &--move {
                    width: 100%; 
                    transform-origin: left;
                    transform: scaleX(1.16); 
                    transition: all 750ms ease-in-out;
                    visibility: visible;
                    overflow: hidden;
                    background: $white-color;
                    cursor: pointer;
                    text-align: left;
                    padding: nth($padding, 2); 

                    .break-this {
                        display: flex;
                    }
                }
                &--move:hover {
                    transform: scale(1, 1);  
                }

                &--move:active{
                    transform: scale(1, 1); 
                }
                @include tablet{
                    .break-three{
                        display: flex;
                    }
                }



                .text-overflow {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }

                .text-overflow__move {
                    text-overflow: ellipsis;
                    width: 70%;
                }

                p {
                    white-space: nowrap;
                    overflow: hidden;
                }

                .space {
                    padding-left: nth($padding, 2);
                    padding-right: nth($padding, 2);
                }

                .zone__text--anime {
                    width: 15%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    background-color: #b0f2b6;
                    color: $white-color;
                }
            }
            text-align: start;
            @include tablet{
                    text-align: center; 
            }
            padding: nth($padding, 3);

            .marge__title {
                    margin-top: 0;
                    font-weight: 400;
            }
        }

        .btn {
            padding-left: 40px;
            padding-right: 40px;
            padding-top: 15px;
            padding-bottom: 15px;
        }
    
}
