.way {
    cursor: pointer;
    background: linear-gradient(173deg, rgba(10, 10, 10, 0) 50%, #f44336 90%);

    &-one {
        display: flex;
        justify-content: space-evenly;
    }

    &__box {
        @include box-radius;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: nth($margin, 3);
        margin-bottom: nth($margin, 3);

        &:hover {
            color: $first-color;

            h3 {
                color: $black-color;
            }
        }

        .icons {
            border-radius: 54%;
            width: 23px;
            color: $white-color;
            background-color: $first-color;

            @include mobile {
                position: relative;
                left: -10px;
            }
        }

        .icons__marge {
            /* img 2ieme */
            margin-left: nth($margin, 2);
            margin-right: nth($margin, 2);

            @include mobile {
                margin-right: nth($margin, 4);
            }
        }
    }

    @include tablet {
        background: linear-gradient(179deg, rgb(217 17 17 / 0%) 50%, rgb(70 54 88 / 40%) 90%);
        border-radius: 0;
        box-shadow: none;
    }

    @include mobile {
        background-image: none;
        display: inline-table;
        width: 90%;

        & h2 {
            text-align: left;
        }

        &__box {
            @include shadow;
            justify-content: flex-start;
        }

        &-one {
            flex-direction: column;
        }

        &__box:hover {
            @include btn-background;
        }
    }
}