.way {
        display: inline-table;
        width: 90%;

        & h2 {
            text-align: left;
        }

        &__box {
            @include shadow;
            justify-content: center;
        }

        &-one {
            flex-direction: column;
        }

        &__box:hover {
            @include btn-background;
        }
        &__box:active{
            color: $first-color;
            @include btn-background;
            h3 {
                color: $black-color;
            }
        }

    &__box {
        cursor: pointer;
        @include box-radius;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: nth($margin, 3);
        margin-bottom: nth($margin, 3);
        background: #F8F8F8;

        &:hover {
            .icons__marge{
                color: $first-color;
            }

            h3 {
                color: $black-color;
            }
        }
        &:active {
            .icons__marge{
                color: $black-color;
            }
            
            h3 {
                color: $first-color;
            }
        }

        .icons {
            border-radius: 54%;
            width: 23px;
            color: $white-color;
            position: relative;
            left: -10px;
             @include color($first-color); 
        }

        .icons__marge {
            /* img 2ieme */
            margin-left: nth($margin, 2);
            margin-right: nth($margin, 4);
            color: #808080;
        }
    }
}
@include tablet{
    .way{
        width: 100%; 
        & h2{
            text-align: center; 
        }
        &-one {
           display: flex;
           flex-direction: row;
           flex-wrap: wrap;
           justify-content: space-evenly;
       }
       &__box{
           justify-content: center;
           padding: nth($padding, 4);
           box-shadow: none;
           background: none; 
           &:hover{
            background: none; 
           } 
       }
       .icons__marge{
        color: $black-color; 
       }
    }
}
@include ordi{
    .way{
        width: 100%; 
    }
    .icon__marge{
        margin-right: nth($margin, 2);
    }
}