.way {
    /* background: linear-gradient(173deg, rgba(10, 10, 10, 0) 50%, #f44336 90%) */
    /* background: linear-gradient(173deg, rgba(10, 10, 10, 0) 50%, #f436b138 90%)*/
    background: linear-gradient(173deg, rgba(10, 10, 10, 0) 50%, rgb(243 30 30 / 38%) 90%); 

    &-one {
        display: flex;
        justify-content: space-evenly;
    }

    &__box {
        cursor: pointer;
        @include box-radius;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: nth($margin, 3);
        margin-bottom: nth($margin, 3);

        &:hover {
            color: $first-color;

            h3 {
                color: $black-color;
            }
        }
        &:active {
            color: $black-color;
                
            h3 {
                color: $first-color;
            }
        }

        .icons {
            border-radius: 54%;
            width: 23px;
            color: $white-color;
            background-color: $first-color;

            @include mobile {
                position: relative;
                left: -10px;
                @include color($first-color); 
            }
        }

        .icons__marge {
            /* img 2ieme */
            margin-left: nth($margin, 2);
            margin-right: nth($margin, 2);

            @include mobile {
                margin-right: nth($margin, 4);
            }
        }
    }

    @include tablet {
        background: linear-gradient(173deg, rgba(10, 10, 10, 0) 50%, #f443365c 90%);
    }

    @include mobile {
        background-image: none;
        display: inline-table;
        width: 90%;

        & h2 {
            text-align: left;
        }

        &__box {
            @include shadow;
            justify-content: flex-start;
        }

        &-one {
            flex-direction: column;
        }

        &__box:hover {
            @include btn-background;
        }
        &__box:active{
            color: $first-color;
            @include btn-background;
            h3 {
                color: $black-color;
            }
        }
    }
}