/* MIXIN */
@mixin shadow {
    box-shadow: 0px 5px 10px #999;
}

@mixin box-radius {
    border-radius: 20px;
}

@mixin title-font {
    font-family: 'Shrikhand Regular';
}

@mixin btn {
    padding: nth($padding, 3);
    color: $white-color;
    /* background-adjust-hue($first-color 5 */
    @include box-radius;
    margin-top: 20px;
    margin-bottom: 20px;
    @include shadow;
    cursor: pointer;
    transform: scale(1);
    transition: all 400ms;

    &:hover {
        background: linear-gradient(to top left, rgba(209, 73, 245, .6), rgba(235, 176, 211, .5));
        transform: scale(1.1);
        color: $black-color;
    }
}

@mixin btn-background($color: $first-color) { /* way box hover */
    @if (saturation($first-color) < 10%) {
        $color: saturation($first-color, 40%);
    }

    @else {
        $color: lighten($first-color, 35%);
    }

    background: $color;
}

@mixin color($color: lightness-shift($first-color)){
    background: darken($color, 1%);
    /* darken($color, 10%)*/ /* lighten($color, 10%) */
}
@mixin color-secondary($color: lightness-shift($orangeRed)) {
    background: lighten($color, 15%);/* darken($color, 10%)*/ /* lighten($color, 10%) */
}

@mixin tablet {
    @media screen and (max-width: map-get($breakpoints, tablet)) {
        @content;
    }
}

@mixin mobile {
    @media screen and (max-width: map-get($breakpoints, mobile)) {
        @content;
    }
}

@mixin anime-base {
    position: relative;
    opacity: 1;
}