/* MIXIN */
@mixin others-pages {
    height: 350px;
    width: 100%;
    object-fit: cover; 
}
@mixin shadow {
    box-shadow: 0px 5px 10px #999;
}

@mixin box-radius {
    border-radius: 20px;
}

@mixin title-font {
    font-family: 'Shrikhand';
}
@mixin main-box {
    display: inline-block; 
    @include shadow;
    width: 90%;

    img {
        object-fit: cover;
        width: 100%;
    }
}
@mixin main-box__new {
    padding: nth($padding, 1) nth($padding, 2);
    background-color: #a0f1da;  
    color: #24873e; 
    font-weight: bold;
    border-radius: 2px; 
    position: absolute;
}

@mixin main-box__text {
    display: flex;
    justify-content: space-between;
    padding: nth($padding, 1) nth($padding, 3) nth($padding, 2) nth($padding, 2);
    margin-top: nth($margin, 1)-12;
}

@mixin btn {
    position: relative;
    z-index: 1;
    @include box-radius;
    @include shadow;
    padding: nth($padding, 3);
    margin-top: 20px;
    margin-bottom: 20px;
    color: $white-color;
    background: linear-gradient(to top left, rgba(209, 73, 245, 1), rgba(235, 176, 211, 1));
    transform: scale(1);
    transition: transform 400ms;

    &:hover {
        transform: scale(1.1);
        color: $black-color;

        &::after {
            opacity: 1;
        }
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        z-index: -1;
        @include box-radius;
        transition: opacity 250ms; 
        background: linear-gradient(to top left, rgba(209, 73, 245, .6) 1%, rgba(235, 176, 211, .5) 0%);
    }
}

/* background-color: lighten($first-color, 5); */
@mixin text-boxes{
    @include main-box__text;

        &--text {
            text-align: left;
        }
}

/* way boxes hover */ 

@mixin btn-background($color: $first-color) {
    @if (saturation($first-color) < 10%) {
        $color: saturation($first-color, 40%);
    }

    @else {
        $color: lighten($first-color, 35%);
    }

    background: $color;
}


/* way 1st icon */ 

@mixin color($color: lightness-shift($first-color)){
    background: darken($color, 1%);
    /* darken($color, 10%)*/ /* lighten($color, 10%) */
}
@mixin color-secondary($color: lightness-shift($orangeRed)) {
    background: lighten($color, 15%);
}

/* breakponits */

@mixin tablet {
    @media screen and (min-width: map-get($breakpoints, tablet)) {
        @content;
    }
}

@mixin ordi {
    @media screen and (min-width: map-get($breakpoints, ordi)) {
        @content;
    }
}

/* animes */ 

@mixin anime-base {
    position: relative;
    opacity: 1;
}
@mixin anime-boxes{
    transform: scale(1);
    transition: transform 400ms; /* all */

        &:hover {
            transform: scale(1.05);
        }
}