/* VARIABLES */
$first-color: #9356DC;
$second-color: #FF79DA;
$third-color: #99E2D0;
$white-color: #fff;
$black-color: #080808;
$orangeRed: #f44336; 
$padding: 5px 10px 15px 20px;
$margin: 5px 10px 15px 20px;
$breakpoints: (
    tablet: 992px,
    ordi: 1440px 
);